
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index admin</h2>
<h2>Index admin</h2>
<h2>Index admin</h2>
<a href='@Url.Action("Trangchu", "Home")'>Bấm vào đây</a>
<h2>Index admin</h2>
<h2>Index admin</h2>
<h2>Index admin</h2>
<h2>Index admin</h2>
<h2>Index admin</h2>
<h2>Index admin</h2>

<h2>Index admin</h2>
<h2>Index admin</h2>
<h2>Index admin</h2>
<h2>Index admin</h2>
<h2>Index admin</h2>
<h2>Index admin</h2>

<h2>Index admin</h2>
<h2>Index admin</h2>
<h2>Index admin</h2>
<h2>Index admin</h2>

