
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/toastr.min.css" />
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<style>
	.a {
		width: 500px;
		margin: auto;
		border: 2px solid;
		border-color: blue;
		height: auto;
		margin-top: 40px;
	}

	.b {
		width: 70%;
		margin: 30px auto;
	}

	.c {
		margin: auto;
		width: 100%;
		align-items: center;
		text-align: center;
		padding-top: 10px;
	}
</style>

<div class="a">
	<div class="b">



	</div>
</div>

		<script src="~/Scripts/jqueryval"></script>
		<script src="~/Scripts/toastr.min.js"></script>
