
@{
	ViewBag.Title = "GioiThieu";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
	.a {
		margin: auto;
		height: auto;
		margin-top: 65px;
	}

	.b {
		margin: 30px auto;
		
	}

	.c {
		margin: auto;
		width: 100%;
		align-items: center;
		text-align: center;
		padding-top: 10px;
	}
</style>
<div class="a">
	<div class="b">
		<h1 style="text-align:center">Về chúng tôi</h1>
		<div class="container">
			<div class="row gx-12">
				<main class="col-lg-12">
					<div class="border rounded-4 mb-3 p-4 d-flex flex-column justify-content-center h-100">
						<div class="row">
							<p>Với 100 nhà máy đặt tại 35 quốc gia, Frank sở hữu 52 nhãn hiệu đáp ứng nhu cầu khách hàng khác nhau tại mỗi quốc gia. Nước được coi là sự lựa chọn cho việc bù chất hàng ngày cho cơ thể vì nó không thêm bất kỳ calo trong khẩu phần ăn, đặc biệt là tình trạng béo phì trên thế giới đang ngày càng gia tăng. Nước đóng chai là nước giải khát tốt cho sức khỏe do không chứa calo, nguồn gốc nước được kiểm soát, chất lượng vượt trội, mùi vị và sự tiện lợi.</p>
						</div>
						<div class="row">
							<p>Frank thường xuyên triển khai các hoạt động nghiên cứu nhằm giúp người tiêu dùng hiểu rõ hơn vai trò quan trọng của nước uống đối với sức khỏe. Ngoài ra, công ty luôn đặt vấn đề bảo vệ môi trường là ưu tiên hàng đầu trong các hoạt động doanh nghiệp. Từ năm 2010 đến nay, Frank không ngừng cải tiến bao bì, giảm thiểu trọng lượng chai nhựa xuống mức thấp nhất (giảm 9%/ lít so với trước đây). Đồng thời, thu gom và tái sử dụng nguyên liệu, hạn chế tối đa việc tác động đến môi trường trong quá trình vận chuyển là những tiêu chí công ty đang hướng tới.</p>
						</div>
						<div class="row">
							<p>Frank chính thức trở thành thành viên của tập đoàn Nest Water từ năm 1992. Trong suốt gần 30 năm qua, công ty nước khoáng thiên nhiên La Vie không ngừng nỗ lực phát triển cung ứng sản phẩm và dịch vụ tốt nhất cho khách hàng. Theo BC Nielsen về sản lượng năm 2019, La Vie trở thành thương hiệu nước khoáng số 1 tại Việt Nam.</p>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<p></p>
						</div>
						<div class="row">
							<p></p>
						</div>
					</div>
				</main>
			</div>
		</div>
	</div>
</div>
