
@{
	ViewBag.Title = "Trangchu";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Frank.Model.Entities;
@using Newtonsoft.Json;
@using Frank.Service.Common;
@using Frank.Service.ProductService.Dto;
@model PageListResultBO<Frank.Service.ProductService.Dto.ProductDto>
@{
	var lstData = Html.Raw(JsonConvert.SerializeObject(Model.ListItem));
	//var ViewBagId = ViewBag.Id;

}

<style>
	#card-container {
		display: flex;
		margin-top: 50px;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
		/*justify-content:center;*/
	}

	.card {
		margin: 10px 20px;
		align-items: center;
		align-content: center
	}

	#carouselExampleIndicators {
		margin-top: 30px;
		border-style: dashed double none;
		border-color: aqua;
	}
</style>
@*<div class="card" style="width:400px">
		<img class="card-img-top" src="" alt="Card image">
		<div class="card-body">
			<h4 class="card-title">John Doe</h4>
			<p class="card-text">Some example text.</p>
			<a href="#" class="btn btn-primary">See Profile</a>
		</div>
	</div>*@

<div id="carouselExampleIndicators" class="carousel slide fluid" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img class="d-block w-100" src="https://d3design.vn/uploads/Summer%20drink%20menu%20promotion%20banner%20template.jpg" style="height: 300px; width: 100% ">
		</div>
		<div class="carousel-item">
			<img class="d-block w-100" src="https://scontent.fhan18-1.fna.fbcdn.net/v/t1.6435-9/121739271_712911615985267_2836528993413811817_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_ohc=hlOxjfKiaSkQ7kNvgGlwYH2&_nc_ht=scontent.fhan18-1.fna&oh=00_AYCBq0fzs6K2hfjylykik97EeNxwv3dIWRaHmO6EGimUXQ&oe=666BDD4F" style="height: 300px; width: 100% ">
		</div>
		<div class="carousel-item">
			<img class="d-block w-100" src="https://d3design.vn/uploads/Summer%20drink%20menu%20promotion%20banner%20template.jpg" style="height: 300px; width: 100% ">
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
<div id="card-container">
	<!-- Các phần tử card sẽ được thêm vào đây -->
</div>



@section scripts {

	<script>
		var lstData = @Html.Raw(lstData);
		var check = "@ViewBag.Id";

		debugger
	$.each(lstData, function(index, item) {
		var card = $('<div class="card" style="width:300px">').click(function () {
			if (check != null) {
				window.location.href = '@Url.Action("Detail", "Product")' + '?Id=' + item.Id + '&User_Id=' + check;
			} else {
				window.location.href = '@Url.Action("Detail", "Product")' + '?Id=' + item.Id;
			}
		});
		var cardBody = $('<div class="card-body">');
		card.append('<img class="card-img-top" src="https://d3design.vn/uploads/Summer%20drink%20menu%20promotion%20banner%20template.jpg" alt="Card image">');
		cardBody.append('<h4 class="card-title">' + item.Name + '</h4>');
		cardBody.append('<p class="card-text">' + item.Brand + '</p>');
		cardBody.append('<p class="card-text">' + item.Price + ' <span style="color: red;">VND</span></p>');
			card.append(cardBody);
			$('#card-container').append(card);
	});
	</script>

}


